---
layout: page
title: Tag Archive
description: "An archive of posts sorted by tag."
comments: false
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script type="text/javascript" src="MyDesign.js"></script>
	<link rel="stylesheet" href="MyDesign.css">
	<title>TheCodeNinja</title>
	<!--Thin Banner-->

	<div id="thin_banner"><h3>Jerry The Code Ninja</h3></div>
	<!--Navigation Bar-->
	<nav>
		<ul id="site_nav_bar">
			<li><a href="#">Home</a></li>
			<li><a href="/Views/Projects.html">Projects</a></li>
			<li><a href="#">Courses</a></li>
			<li><a href="#">Stakeholders</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</head>
<body>
	<div id="thumbs-up">
		<img src="images/like.png">
	</div>
<!-- Insertion of Applet Code -->
	<applet code="" width="500px" height="400px">
			
	</applet>
<!-- IE compatibility -->
	<object width="500px" height="400px">
		<param name="code" value="yourClass.class">
  		<param name="object" value="serializedObjectOrJavaBean">
  		<param name="codebase" value="classFileDirectory">
	</object>
	<div id="welcome-section">
		<h1 id="rotate_welcome">Welcome</h1>
	</div>
	<div id="my-interest">
		<div class="interest-box"></div>
		<?php
echo "<p>Hello World</p>";
		?>
	</div>
</body>
<footer>
	<p id="date">Hey</p>
</footer>
</html>

<ul class="entry-meta inline-list">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  	<li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
		<ul>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
		</ul>
	</article><!-- /.entry -->
{% endunless %}{% endfor %}
